
.btn {
    display: flex;
    justify-content: center;
    padding-top: 67px;
    cursor: pointer;
    overflow: hidden;
}

.phone_login,
.mail_login {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: 25px;
    width: 130px;
    height: 36px;
    font-size: 13px;
    line-height: 13px;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    overflow: visible;
    box-sizing: border-box;
}

.mail_login:focus {
    border: 1px solid #FFFFFF;;
    border-radius: 16px;
    box-sizing: border-box;
}

.phone_login:focus {
    border: 1px solid #FFFFFF;;
    border-radius: 16px;
    box-sizing: border-box;
}

.mail_login:hover {
    border: 1px solid #FFFFFF;;
    border-radius: 16px;
    box-sizing: border-box;
}

.phone_login:hover {
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    box-sizing: border-box;
}
