

.form_header > img {
   display: flex;
    width: 253.57px;
    height: 142px;
    justify-content: center;
    margin: 0 auto 24px;
}

@media all and (max-width: 450px) {

    .form_header > img {
        width: 200px;
        height: 100px;
    }
    .bonus{
        height: 100px;
    }
}

@media (min-width: 364px)  and (max-width:575.98px ){
    .form_header > img {

        height: 80px;
    }
    .bonus{
        height: 80px;
    }
}
