/*Modal CSS*/
.modal {
    height: 100vh;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto;
    background: linear-gradient(180deg, #4010A6 56.65%, rgba(64, 16, 166, 0) 99.03%);
}

.modal_items {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal__content {
    position: fixed;
    padding: 48px 32px;
    margin: auto;
    width: 700px;
    height: 1040px;
    left: 610px;
    top: 20px;

    background: rgba(16, 2, 45, 0.7);
    border-radius: 40px;
}

.newleft {
    position: absolute;
    width: 473.07px;
    height: 401.81px;
    left: 61px;
    top: -18px;
}

.casino {
    position: absolute;
    width: 421.53px;
    height: 150.13px;
    left: 87px;
    top: 183.64px;
}

.newright {
    position: absolute;
    width: 486px;
    height: 103px;
    left: 1388px;
    top: 131px;
}

.bonus {
    display: flex;
    width: 253.57px;
    height: 142px;
    justify-content: center;
    margin: 0 auto 24px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*// Breakpoints*/
/*$xs: 389.98px;*/
/*$sm: 575.98px;*/
/*$md: 767.98px;*/
/*$lg: 991.98px;*/
/*$xl: 1199.98px;*/

@media  (min-width: 1199.98px) and (max-width: 1980px){
    .modal__content {
        padding: 48px 32px;
        position: fixed;
        margin: auto;
        background: rgba(16, 2, 45, 0.7);
        border-radius: 40px;
        width: 700px;
        height: 1040px;
    }
}

@media (min-width: 364px)  and (max-width:575.98px ){
    .modal__content {
        width: 450px;
        left: 1px;
        height: 100vh;
    }
}

@media (min-width: 576px)  and (max-width:1199.98px ){
    .modal__content {
        left: 1px;
    }
}
