*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

#root{
  display: flex;
  flex-direction: column;
}

