.tab.active {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(89.78deg, #F0DA09 4.59%, #EF7700 87.87%);;
    border-image-slice: 10;
    box-shadow: 0 1px 4px rgba(240, 218, 9, 0.35);
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
}

.btn_span {
    margin-right: 20px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: 25px;
    width: 130px;
    height: 36px;
    font-size: 13px;
    line-height: 13px;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    overflow: visible;
    box-sizing: border-box;
}

@media (max-width: 490px) {

}
@media (min-width: 364px)  and (max-width: 575.98px ) {
    .btn_span {
        font-size: 12px;
    }
}